@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>
<h3>@Model.Message</h3>

<p>Professor @ViewData["Professor"] </p>

<address>
    <strong>More Information: </strong> <a href="https://youtube.com.br">Youtube.com.br</a>
</address>


